<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future Roleplay APV 2025</title>
    <link rel="stylesheet" href="/assets/ccs/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Algemene Plaatselijke Verordening – Custom Editie 2025</h1>
        </header>

        <main>
            {{ content }}
        </main>

        <footer>
            Laatst aangepast: 11/11/2025 om 16:14 <br>
            Disclaimer: De inhoud is uitsluitend bedoeld voor de interne en online weergave van Future Roleplay. Alle rechten voorbehouden.
        </footer>
    </div>
</body>
</html>
